* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 255px;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.header__ul {
    display: flex;
    font-family: "Science Gothic", sans-serif;
    margin-right: 205px;
    color: #494949;
    gap: 105px;
    font-size: 14px;
}

.ul__li:hover {
    font-size: 30px;
    color: aqua;
}

.one {
    width: 100%;
    height: 1000px;
    background-color: #D4F2E8;
    display: flex;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.one__logo {
    width: 2000px;
    font-family: "Science Gothic", sans-serif;
    margin-left: 44px;
    margin-top: 650px;
    color: #298B7AD1;
    font-size: 33px;
}

.img__one {
    font-size: 50px;
    margin-left: 100px;
}

.img__two {
    margin-top: -500px;
}

.img__three {
    margin-top: -355px;
}

.two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 100px;
    background-color: whitesmoke;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.two__logo {
    font-family: "Science Gothic", sans-serif;
    color: #494949;
    font-size: 30px;
}

.two__img {
    margin-top: 100px;
}

.two__one--div {
    margin-top: 100px;

}

/* .one__img{
    display: block;
    margin-top: 100px;
    margin-left: 50px;
} */
.two__one--div {
    display: flex;
    display: block;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.div__text {
    font-family: "Science Gothic", sans-serif;
    margin-left: 100px;
    margin-top: -50px;
    font-size: 18px;
    display: block;
}

.div__paragref {
    width: 310px;
    margin-left: 100px;
    margin-top: 30px;
    color: #494949;
    font-size: 20px;
}

.three {
    width: 100%;
    height: 777px;
    display: flex;
    margin-top: 100px;
    background-color: whitesmoke;
    /* margin-left: 100px; */
}

.three__img {
    width: 200px;
    margin-top: -500px;
    margin-left: 50px;
    /* background-color: black */
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.three__tetx {
    font-family: "Science Gothic", sans-serif;
    margin-top: 120px;
    margin-left: 50px;
    color: #494949;
    font-size: 25px;
}

.three__logo {
    width: 500px;
    display: block;
    display: flex;
    margin-top: 100px;
    margin-right: 200px;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.text__one {
    font-family: "Science Gothic", sans-serif;
    width: 250px;
    margin-top: 200px;
    color: #494949;
    font-size: 25px;
}

.logo__two {
    margin-left: 150px;
}

.four {
    margin-top: 100px;
    display: flex;
    background-color: whitesmoke;
}

.p {
    margin-top: 150px;
}
.e{
    margin-top: -600px;
}

.a {
    margin-top: -80px;
}


.four__two {
    margin-top: 150px;
}

.five {
    width: 100%;
    height: 1100px;
    background-image: url(../img/image_Safe_Fluid.png);
    background-repeat: no-repeat;
    margin-top:100px;
      background-color: whitesmoke;
}

.five__one {
    width: 480px;
    height: 425px;
    margin-left: 100px;
}

.q {
    margin-top: 10px;
    margin-left: -2px;
}

.w {
    margin-top: -90px;
    margin-left: 220px;
    display: block;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.five__two {
    font-family: "Science Gothic", sans-serif;
    width: 250px;
    margin-left: 250px;
    margin-top: 100px;
    /* display: block; */
     color: #494949;
}
/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.five__three{
    width: 220px;
    margin-left: 250px;
    margin-top: 40px;
    font-family: "Science Gothic", sans-serif;
      color: #494949;
}
.five__img{
    margin-top: 150px;
    margin-left: 350px;
}
.six{
    margin-top: 100px;
    width: 100%;
    height: 800px;
      background-color: whitesmoke;
}
/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.six__logo{
    font-size: 35px;
       font-family: "Science Gothic", sans-serif;
      color: #494949;
      margin-left: 250px;
      padding-top: 100px;
        /* background-color: whitesmoke; */
}

.six__div{
    display: flex;
gap: 150px;
margin-top: 150px;
margin-left: 150px;
  background-color: whitesmoke;
}