* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 255px;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.header__ul {
    display: flex;
    font-family: "Science Gothic", sans-serif;
    margin-right: 205px;
    color: #000000;
    gap: 105px;
    font-size: 14px;
}

.ul__li:hover {
    font-size: 30px;
    color: aqua;
}

.one {
    width: 100%;
    height: 1000px;
    background-color: #D4F2E8;
    display: flex;
}

/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.one__logo {
    width: 2000px;
    font-family: "Science Gothic", sans-serif;
    margin-left: 44px;
    margin-top: 650px;
    color: #298B7AD1;
    font-size: 33px;
}

.img__one {
    font-size: 50px;
    margin-left: 100px;
}

.img__two {
    margin-top: -500px;
}

.img__three {
    margin-top: -355px;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 100px;
}
/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.two__logo{
      font-family: "Science Gothic", sans-serif;
    color: #494949;
    font-size: 30px;
}
.two__img{
    margin-top: 100px;
}
.two__one--div{
    margin-top: 100px;
    
}
/* .one__img{
    display: block;
    margin-top: 100px;
    margin-left: 50px;
} */
.two__one--div{
    display: flex;
 display: block;
}
/* Science Gothic */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.div__text{
      font-family: "Science Gothic", sans-serif;
    margin-left: 100px;
    margin-top: -50px;
    font-size: 18px;
    display: block;
}
.div__paragref{
    width: 310px;
    margin-left: 100px;
    margin-top: 30px;
    color: #494949;
    font-size: 20px;
}
